<h1>Olá mundo!</h1>
<div class="row">
	<div class="col-sm-6">
		<h3>Alertas</h3>
		<a href="#"
			data-toggle="cr-alert"
			data-type="success"
			data-message="Alerta de sucesso">Alerta de sucesso</a><br>
		<a href="#"
			data-toggle="cr-alert"
			data-type="danger"
			data-message="Alerta de falha">Alerta de falha</a><br>
		<a href="#"
			data-toggle="cr-alert"
			data-type="info"
			data-message="Alerta de informação">Alerta de informação</a><br>
		<a href="#"
			data-toggle="cr-alert"
			data-type="warning"
			data-message="Alerta de aviso">Alerta de aviso</a><br>
	</div>
	<div class="col-sm-6" id="test-cr"></div>
</div>