<!DOCTYPE html>
<html>
<head>
	<title>Chat Ruby on Rails</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Chat React</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#home">Home</a></li>
					<li><a href="#cadastro">Cadastro</a></li>
					<li><a href="#contato">Contato</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= yield %>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div id="descricao-rodape">&copy; Desenvolvido por Pedro Marcelo e Daniele Batista</div>
		</div>
	</footer>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
</body>
</html>
